@import "../abstracts/media";


html {
    background-color: black;
}

.titles {
    color: rgb(38, 196, 130);
}

.movielist {
    display: flex;
    flex-direction: column;

    // Search bar and poster

    &-search {
        width: 300px;
        font-size: 24px;
        align-self: center;
        margin-bottom: 12px;
        margin-top: 12px;
    }


    &-poster {
        height: 600px;
        width: 300px;
        align-self: center;
    }

    // Movie Information (Located right under movie poster)

    &-div1 {
        //border: 1px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 14px;


        &-title {
            margin-top: 8px;
            margin-bottom: 8px;
            align-self: center;
            
        }

        &-popularity{
            margin-top: 8px;
            margin-bottom: 8px;
            

        }

        &-release {
            margin-top: 8px;
            margin-bottom: 8px;
            
        }

        &-voteAVG {
            margin-top: 8px;
            margin-bottom: 8px;
            
        }

        &-overview {
            margin-top: 8px;
            margin-bottom: 16px;
            width: 80%;
        }

// Related Searches

        &-related-searches {
            display: flex;
            flex-direction: column;
            margin-top: 40px;
            list-style: none;
            font-weight: bold;
        }
    }
}


.Popularlist {
    margin-top: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-self: center;

    

    &-Div__popular-map {
        display: flex;
        flex-direction: column;
        width: 100%;

        &-title {
        }
    }
}

.Popular-Related-wrapper {
    width: 100%;
}




