//Put Popular Movies and Related Searches side by side (display: flex) on 700px

@media only screen and (min-width: 700px) {
    .Popular-Related-wrapper {
        display: flex;
        justify-content: space-evenly;
    }


    .Popularlist{
        width: 50%;
    }

    .movielist-div1-related-searches {
        width: 50%;
    }
}

//Center Popular Movies and Related Searches on 1000px

@media only screen and (min-width: 1000px) {
    .Popular-Related-wrapper {
        width: 90%;
    }

    .Popularlist-Div__popular-map {
        align-items: center;
    }

    .movielist-div1-related-searches {
        align-items: center;
        margin-top: 100px;
    }

}
